include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include DEVNOTES.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include src/silvio/data *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
